html {
    background-color: rgb(10, 1, 5);
}

p {
    color: rgb(216, 53, 80);
}

body {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 1 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(216, 53, 80)
}

p {
    font-size: 20px;
}